<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426596960750-3s2kpt1ntds1gffen85vet22je3f3taj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426596960750-3s2kpt1ntds1gffen85vet22je3f3taj</string>
	<key>API_KEY</key>
	<string>AIzaSyD3WwNPTDh3eNRTT24oyG85a6zUVfv4uGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>426596960750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unizer.unizer</string>
	<key>PROJECT_ID</key>
	<string>unizer-f64b4</string>
	<key>STORAGE_BUCKET</key>
	<string>unizer-f64b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426596960750:ios:2ac56bd22f39b274</string>
	<key>DATABASE_URL</key>
	<string>https://unizer-f64b4.firebaseio.com</string>
</dict>
</plist>